.container {
  padding: 0;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background: grey;
  background-size:cover;
}

.technology {
  flex: 1;
  min-height: 200px;
}
.interpersonal {
  flex: 1;
  background: rgb(0, 128, 128, 0.1);
  min-height: 200px;
}
.industry {
  flex: 1;
  min-height: 200px;
}
.frontend {
  flex: 1;
  background: rgb(0, 128, 128, 0.1);
  min-height: 200px;
}
.backend {
  flex: 1;
  /* background: rgb(0, 128, 128, 0.1); */
  min-height: 200px;
}

.parent {
  padding: 0;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.experience {
  flex: 1;
  background: rgb(0, 128, 128, 0.1);
  min-height: 200px;
}

.volunteer {
  flex: 1;
  min-height: 200px;
}
.honors {
  flex: 1;
  background: rgb(0, 128, 128, 0.1);
  min-height: 200px;
}
.languages {
  flex: 1;
  min-height: 200px;
}

/*FRONT END*/
.backend {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.node {
  flex: 1;
  width: 50px;
  height: 50px;
}
.express {
  flex: 1;
  width: 50px;
  height: 50px;
}
.psql {
  flex: 1;
  width: 50px;
  height: 50px;
}
.css {
  flex: 1;
  width: 50px;
  height: 50px;
}
.redux {
  flex: 1;
  width: 50px;
  height: 50px;
}
/* back end*/
.frontend {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.react {
  flex: 1;
  width: 50px;
  height: 50px;
}
.html {
  flex: 1;
  width: 50px;
  height: 50px;
}
.sass {
  flex: 1;
  width: 50px;
  height: 50px;
}
.css {
  flex: 1;
  width: 50px;
  height: 50px;
}
.redux {
  flex: 1;
  width: 50px;
  height: 50px;
}
