.container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.parent {
  flex-direction: row;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.child1 {
  flex: 1;
  width: 50vw;
  height: 50vh;
  background: rgb(0, 128, 128, 0.1);
  position: absolute;
  left: 50%; /* horizontal alignment */
  top: 50%; /* vertical alignment */
  transform: translate(-50%, -50%);
}
