.container {
  -webkit-clip-path: polygon(100% 34%, 100% 100%, 77% 100%, 0 100%, 0 33%);
  clip-path: polygon(100% 34%, 100% 100%, 77% 100%, 0 100%, 0 33%);
  background-color: #005dff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
