.container {
  padding: 0;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.boxone {
  flex: 1;
  min-height: 200px;
}
.boxtwo {
  flex: 1;
  min-height: 200px;
  color: #126ec3;
  justify-content: center;
  align-self: center;
}
.boxthree {
  flex: 1;
  background: rgb(0, 128, 128, 0.1);
  min-height: 200px;
  padding: 0 5px;
}

.parent {
  flex-direction: row;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.child1 {
  flex: 1;
  width: 200vw;
  height: 50vh;
  background: rgb(0, 128, 128, 0.1);
  margin: 0 5px;
}
.child2 {
  flex: 1;
  width: 200vw;
  height: 50vh;
  background: rgb(0, 128, 128, 0.1);
  margin: 0 5px;
}
.child3 {
  flex: 1;
  width: 200vw;
  height: 50vh;
  background: rgb(0, 128, 128, 0.1);

  margin: 0 5px;
}
.child4 {
  flex: 1;
  width: 200vw;
  height: 50vh;
  background: rgb(0, 128, 128, 0.1);
  margin: 0 5px;
}

.frontend {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.react {
  flex: 1;
  width: 50px;
  height: 50px;
}
.html {
  flex: 1;
  width: 50px;
  height: 50px;
}
.sass {
  flex: 1;
  width: 50px;
  height: 50px;
}
.css {
  flex: 1;
  width: 50px;
  height: 50px;
}
.redux {
  flex: 1;
  width: 50px;
  height: 50px;
}
