* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.container {
  height: 95vh;
  background-image: linear-gradient(to right, #7ed56fe8, #28b485b0);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0, 0, 100%, 0, 100%, 50%, 0, 100%);
}

.parent {
  flex-direction: row;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.child1 {
  flex: 1;
  width: 50vw;
  height: 50vh;
  background: rgb(0, 128, 128, 0.1);
  position: absolute;
  left: 50%; /* horizontal alignment */
  top: 50%; /* vertical alignment */
  transform: translate(-50%, -50%);
}
